.merah {
    background-color: red;
    text-align: center;
    color: white;
    margin: 0%;
}

.oren {
    background-color: orange;
    text-align: center;
    color: white;
    margin: 0%;
}

.kuning {
    background-color: yellow;
    text-align: center;
    color: white;
    margin: 0%;
}

.hijau {
    background-color: green;
    text-align: center;
    color: white;
    margin: 0%;
}

.biru {
    background-color: blue;
    text-align: center;
    color: white;
    margin: 0%;
}

.nila {
    background-color: cornsilk;
    text-align: center;
    color: black;
    margin: 0%;
}

.ungu {
    background-color: purple;
    text-align: center;
    color: white;
    margin: 0%;
}